 <div ng-class="{scrolling: yLoc >= 5}" class="header-links">

    <div class="header-title">
      <h1><a href="/">
      <img style="vertical-align: inherit;" src="/static/img/RedSquare_favicon.png" />
        Debt Collective
        </a>
      </h1>
    </div>

<a class="nav-link scrolling-only" href="/" du-scrollspy du-smooth-scroll>HOME</a>
<span class="scrolling-only">&nbsp;&nbsp; |&nbsp;&nbsp;   </span>
<a class="nav-link" href="/studentstrike" du-scrollspy>ACTION ALERT!</a>
&nbsp;&nbsp; | &nbsp;&nbsp;
<a class="nav-link" href="http://blog.debtcollective.org" du-scrollspy>BLOG</a>
&nbsp;&nbsp; | &nbsp;&nbsp;
<a class="nav-link" href="http://strategize.debtcollective.org" du-scrollspy>COMMUNITY</a>


</div>

